@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
        box-sizing: border-box;
    }
    
    html {
        font-size: 18px;
        font-family: 'Quicksand', sans-serif;
        --primary-dark-color: #324777;
        --primary-light-color: #B29E3F;
        --secondary-dark-color: #8490AB;
        --secondary-light-color: #FFF4BE;
    }
    
    .container {
        max-width: 1200px;
    
    }
    
    header.home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        background-image: url('./img/heroImage.jpg');
        background-color: var(--primary-light-color);
        background-blend-mode: multiply;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--secondary-light-color);
    }
    
    header.home h2 {
        font-size: 3rem;
        padding: .5rem;
    }
    
    header.home p {
        font-size: 2rem;
    }
    
    .home-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 10vh;
        width: 100%;
        padding: .5rem;
        background-color: var(--secondary-light-color);
    }
    
    .home-nav .logo {
        display: flex;
        align-items: center;
        justify-content: left;
        color: var(--primary-dark-color);
    
    }
    
    .fa-person-praying {
        font-size: 2rem;
    }
    
    .home-nav nav {
        display: flex;
        align-items: right;
        justify-content: right;
    }
    
    .home-nav ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: right;
    }
    
    .home-nav ul li {
        display: inline-block;
        padding-right: 1rem;
    }
    
    .home-nav ul li a {
        text-decoration: none;
        color: var(--primary-dark-color);
        font-weight: bolder;
        border-bottom: 5px transparent solid;
}

.home-nav ul li a:hover {
    border-bottom-color: var(--primary-dark-color);
}
